= render_rich_text t('newsletter.opt_in.invitation_md')

= link_to t(:"newsletter.opt_in.button"),
  newsletter_subscribe_url(email: @email, hash: @hash),
  data: { "skip-click": true },
  class: "base-mailer__button base-mailer__button--primary"

= render_rich_text t('newsletter.opt_in.alternatively_md')
